body {
    font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
}

.align-center {
    display: flex;
    align-self: center;
    justify-content: center;
}

.padding-top-10px {
    padding-top: 10px;
    padding-right: 10px;
    border-right: 1px solid gray;
}

.search-box {
    padding-top: 10px;
}

.search-bar {
    height: 29px;
    background-color: #e1e1e1;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	position:relative;
    width: 230px
}

.icon-size {
    height: 16px;
    width: 16px;
}

.bigger-nav {
    height: 60px;
    background: rgb(171, 0, 20);
}

.nav-link {
    border: 1px solid white;
    font-size: 20px;
    color: white;
    padding: 2px;
    margin: 15px;
}

.dark-red-nav {
    background: rgb(150, 4, 19);
    font-size: 15px;
    color: white;
}

.small-text {}
    font-size: 10px;
    /* Make sure the text does not break */
    overflow: hidden;
    white-space: nowrap;
}